# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!TestTheZooJavaCandidateNumber8/jars/*jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
TestTheZooJavaCandidateNumber8/.DS_Store
TestTheZooJavaCandidateNumber8/src/.DS_Store
!TestTheZooJavaCandidateNumber8/jars
TestTheZooJavaCandidateNumber8/src/.DS_Store
TestTheZooJavaCandidateNumber8/src/test/.DS_Store
TestTheZooJavaCandidateNumber8/src/test/java/.DS_Store
TestTheZooJavaCandidateNumber8/src/test/java/Cucumber/.DS_Store
TestTheZooJavaCandidateNumber8/src/test/java/Cucumber/java/.DS_Store
